h1.add-title{
  font-family: 'Contrail One';
  font-size: 30px;
  color: black;
}

h3{
  font-size: 20px;
}

.big-container{
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
}

.button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
  align-items: center;
}

.form-container{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}